<!DOCTYPE html>
<html>
  <head>
    <title>main page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>main page</h1>
    <p>Welcome to main page</p>
  </body>
</html>
