<!DOCTYPE html>
<html>
  <head>
    <title>login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>login</h1>
    <p>Welcome to login</p>
      <form action="/login" method="post">
      <input required type="email" name ="email" placeholder="your email"/>
      <input required type="password" name ="password" placeholder="your password"/>
     <input type="submit" value="login">
      </form>
  </body>
</html>
