<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Thanks for signing up - Tread</title>
  <!-- Plugins CSS -->
  <link rel="stylesheet" href="./plugins/bootstrap-4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="./plugins/fancybox-master/jquery.fancybox.min.css">
  <link rel="stylesheet" href="./plugins/aos-animation/aos.css">
  <!-- fonts -->
  <link rel="stylesheet" href="./fonts/ep-icon-fonts/css/style.css">
  <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
  <link rel="stylesheet" href="./fonts/fontawesome-5/css/all.min.css">
  <link rel="stylesheet" href="./fonts/typography-font/typo-fonts.css">
  <!-- Custom Stylesheet -->
  <link rel="stylesheet" href="./css/settings.css">
  <link rel="stylesheet" href="./css/style.css">
	<script language="javascript" type="text/javascript"  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script language="javascript" type="text/javascript"  src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.9/typed.min.js"></script>
</head>

<body>
<div class="site-wrapper">
    <div class="preloader-wrap">
        <img src ="image/loading.gif" height="150vh" width="150vw">
    </div>    
    <!-- Header Starts -->
    <header class="site-header d-none d-lg-block">
        <div class="container-fluid pl-lg--35 pr-lg--35">
            <div class="row justify-content-between align-items-center position-relative">
                <div class="col">
                    <!-- Brand Logo -->
                    <div class="brand-logo">
                        <a href=""><img src="image/main-logo.png" alt="" /></a>
                    </div>
                </div>
                <!-- Menu Block -->
                <div class="col">
                    <div class="main-navigation ">
                        <ul class="main-menu">
                            <li class="menu-item"><a href="/">Home</a></li>

                        </ul>
                    </div>
                    <div class="mobile-menu"></div>
                </div>

                <!-- Button Block -->
                <div class="col">
                    <div class="header-btns">
                                        </div>
                </div>
            </div>
        </div>
    </header>

    <!--Off Canvas Navigation End-->
    <!-- Banner Section -->
    <section class="hero-area"style="margin-bottom:0;" >
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-7 col-lg-8 col-md-10">
                    <div class="hero-content">
                        <h1 class="title-h2">Thanks for showing interest in Tread! </h1>
                        <div class="hero-btn">
                            <span class="text--info">We will reach out to you soon.</span>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <!-- <div class="hero-shape"><img src="image/hero-shape.png" alt=""></div> -->
    </section>


<!-- sign up modal -->
<div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">You have caught us early!
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></h5>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Modal Body</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn--primary hvr-shine">Sign up for early access</button>
      </div>
    </div>
  </div>
</div>

<!-- schedule demo modal -->
<div class="modal fade" id="scheduleDemo" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">Let's show you the magic!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Fill in your details 
      </div>
        <!-- Begin Mailchimp Signup Form -->

<div id="mc_embed_signup">
<form action="https://gmail.us10.list-manage.com/subscribe/post?u=29f1e455d7db51eb73e29c784&amp;id=8157718e8a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required></p>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_29f1e455d7db51eb73e29c784_8157718e8a" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->
      <div class="modal-footer">
        <button type="submit" class="btn btn--primary hvr-shine" name="subscribe" id="mc-embedded-subscribe">Schedule Demo</button>
      </div>
    </div>
  </div>
</div>
        

    
    <!-- Footer Section -->
    <footer class="section-padding-top footer-bg shape-holder mb--3">
        <div class="container">
             <div class="col-lg-12 col-md-3 col-sm-5 mb-5">
                  <div class="row justify-content-center space-db--10">
                        <p class="mb-0" style="text-align:center;color:white">Get in touch with us : <br> anshulravikumar@gmail.com</p>
                 </div>
                    </div>
 <div class="col-lg-12 col-md-3 mb--10">
                        <ul class="footer-list social-list row justify-content-center   ">
                          <li><a href="https://instagram.com/treadhill"><i class="icon big-icon icon-logo-instagram"></i></a></li>
                        </ul>
                    </div>
            <div class="col-lg-12 col-md-3 col-sm-5 pt--10 pt-md--40 pb--30">
                <div class="row justify-content-center space-db--10">
                     
                        <p class="mb-0"style="text-align:center;color:white">© 2020 Tread. All rights reserved</p>
                    
                </div>
            </div>
        </div>
        <div class="footer-shapes">
                <div class="shape-1">
                </div>
                <div class="shape-2">
                </div>
        </div>
    </footer>
</div>
   
  <!-- Vendor JS-->
  <script src="./plugins/jquery/jquery.min.js"></script>
  <script src="./plugins/jquery/jquery-migrate.min.js"></script>
  <script src="./plugins/bootstrap-4.3.1/js/bootstrap.bundle.js"></script>

  <!-- Plugins JS -->
  <script src="./plugins/fancybox-master/jquery.fancybox.min.js"></script>
  <script src="./plugins/aos-animation/aos.js"></script>

  <!-- Custom JS -->
  <script src="./js/active.js"></script>
</body>

</html>
